html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
}
#logger {
    position: absolute;
    top:0px;
    padding:10px;
}

#canvas1 {
    /*width: 100vw;  /* Viewport width */
    /*height: 100svh; /* Viewport height */
    /*position: absolute; /* Ensures it covers the full screen */
    /*z-index: -1;*/
    top:0px;
}